/* container styles */

.user-input {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    ::ng-deep nz-form-item {
        justify-content: center;
    }
}

/* component styles */
