.navbar-right-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        margin: 0px 5px;
    }

    h6 {
        margin-bottom: 0px;
        margin-right: 10px;
    }

    .logout-button {
        cursor: pointer;
    }
}
